<%= form_with(model: asignatura, local: true) do |form| %>
  <% if asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asignatura.errors.count, "error") %> prohibited this asignatura from being saved:</h2>

      <ul>
      <% asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :credito %>
    <%= form.number_field :credito %>
  </div>

  <div class="field">
    <%= form.label :profesor_id %>
    <%= form.text_field :profesor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
