<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @profesor.titulo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @profesor.usuario %>
</p>

<%= link_to 'Edit', edit_profesor_path(@profesor) %> |
<%= link_to 'Back', profesors_path %>
